.refcolumn-inline {
    margin: auto !important;
    margin-bottom: 1rem !important;
    float: none !important;
    clear: right !important;
    width: auto !important;
}

.navsettop {
    position: fixed;
    z-index: 1;
    background: #a7b0be;
    height: 6rem;
}


.tocset {
    position: fixed;
    overflow-y: scroll;
    top: 0rem;
    bottom: 0;
    margin: 6rem 0 0 0;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
}
