.refcolumn-inline {
    margin: auto !important;
    margin-bottom: 1rem !important;
    float: none !important;
    clear: right !important;
    width: auto !important;
}

/* Relies on scribble >= 8.3? (maybe older) */

.tocset {
    border-top: 2rem solid hsl(216, 15%, 70%) !important;
}

.navsettop {
    height: unset;
}

@media all and (max-width: 720px){
    .navsettop {
        height: 4rem;
    }
}

/*
.techinside {
    color: black;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
*/


.tab-frame label {
    color: #07A;
}

.tab-frame label:hover {
    color: #07A;
    text-decoration-line: underline;
}

.tab-frame input:checked + label {
    background: unset !important;
    border-top: solid;
    border-right: solid;
    border-left: solid;
}

.tab-frame table.tab {
    border: solid;
}
