.refcolumn-inline {
    margin: auto !important;
    margin-bottom: 1rem !important;
    float: none !important;
    clear: right !important;
    width: auto !important;
}

.navsettop {
    position: fixed;
    z-index: 1;
    background: #a7b0be;
    height: auto;
}


.tocset {
    position: fixed;
    overflow-y: scroll;
    height: 88%;
}
